#button1 {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-color: #52CFFF;
  border-style: dashed;
  background-color: #FF3030;
}
#button2 {
  border-width: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  background-color: #790edd;
}
#button3 {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-style: solid;
  background-color: #52CFFF;
}
.small-button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 50px;
}
.medium-button {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.big-button {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 50px;
}
aside h1 {
  color: #EED2EE;
  text-align: center;
}
aside h1:hover {
  background-color: #9B30FF;
}
